.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media only screen and (min-width: 36rem) {
  .container {
    width: 33rem;
  }
}
@media only screen and (min-width: 48rem) {
  .container {
    width: 45rem;
  }
}
@media only screen and (min-width: 64rem) {
  .container {
    width: 61rem;
  }
}
@media only screen and (min-width: 75rem) {
  .container {
    width: 72rem;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Col */
.col-xs-1 {
  -ms-flex-preferred-size: 8.3333333333%;
      flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.6666666667%;
      flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.3333333333%;
      flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.6666666667%;
      flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.3333333333%;
      flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.6666666667%;
      flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

/* Push */
.push-xs-0 {
  left: auto;
}

.push-xs-1 {
  left: 8.3333333333%;
}

.push-xs-2 {
  left: 16.6666666667%;
}

.push-xs-3 {
  left: 25%;
}

.push-xs-4 {
  left: 33.3333333333%;
}

.push-xs-5 {
  left: 41.6666666667%;
}

.push-xs-6 {
  left: 50%;
}

.push-xs-7 {
  left: 58.3333333333%;
}

.push-xs-8 {
  left: 66.6666666667%;
}

.push-xs-9 {
  left: 75%;
}

.push-xs-10 {
  left: 83.3333333333%;
}

.push-xs-11 {
  left: 91.6666666667%;
}

.push-xs-12 {
  left: 100%;
}

/* Pull */
.pull-xs-0 {
  right: auto;
}

.pull-xs-1 {
  right: 8.3333333333%;
}

.pull-xs-2 {
  right: 16.6666666667%;
}

.pull-xs-3 {
  right: 25%;
}

.pull-xs-4 {
  right: 33.3333333333%;
}

.pull-xs-5 {
  right: 41.6666666667%;
}

.pull-xs-6 {
  right: 50%;
}

.pull-xs-7 {
  right: 58.3333333333%;
}

.pull-xs-8 {
  right: 66.6666666667%;
}

.pull-xs-9 {
  right: 75%;
}

.pull-xs-10 {
  right: 83.3333333333%;
}

.pull-xs-11 {
  right: 91.6666666667%;
}

.pull-xs-12 {
  right: 100%;
}

/* Offset */
.offset-xs-1 {
  margin-left: 8.3333333333%;
}

.offset-xs-2 {
  margin-left: 16.6666666667%;
}

.offset-xs-3 {
  margin-left: 25%;
}

.offset-xs-4 {
  margin-left: 33.3333333333%;
}

.offset-xs-5 {
  margin-left: 41.6666666667%;
}

.offset-xs-6 {
  margin-left: 50%;
}

.offset-xs-7 {
  margin-left: 58.3333333333%;
}

.offset-xs-8 {
  margin-left: 66.6666666667%;
}

.offset-xs-9 {
  margin-left: 75%;
}

.offset-xs-10 {
  margin-left: 83.3333333333%;
}

.offset-xs-11 {
  margin-left: 91.6666666667%;
}

.offset-xs-12 {
  margin-left: 100%;
}
