// Variables

$gf-columns: 12 !default;
$gf-gutter-width: 1rem !default;
$gf-gutter-compensation: (($gf-gutter-width * .5) * -1) !default;
$gf-outer-margin: 1rem !default;

$gf-name-xs: 'xs' !default;
$gf-name-sm: 'sm' !default;
$gf-name-md: 'md' !default;
$gf-name-lg: 'lg' !default;
$gf-name-xl: 'xl' !default;

$gf-breakpoint-sm: 36rem !default; // 576px
$gf-breakpoint-md: 48rem !default; // 768px
$gf-breakpoint-lg: 64rem !default; // 1024px
$gf-breakpoint-xl: 80rem !default; // 1200px

$gf-class-container: 'container' !default;
$gf-class-container-fluid: 'container-fluid' !default;
$gf-class-row: 'row' !default;
$gf-class-column: 'col' !default;
$gf-class-push: 'push' !default;
$gf-class-pull: 'pull' !default;
$gf-class-offset: 'offset' !default;

.#{ $gf-class-container } {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: $gf-outer-margin;
  padding-right: $gf-outer-margin;

  @media only screen and (min-width: $gf-breakpoint-sm){
    width: $gf-breakpoint-sm - ($gf-outer-margin * 3);
  }

  @media only screen and (min-width: $gf-breakpoint-md){
    width: $gf-breakpoint-md - ($gf-outer-margin * 3);
  }

  @media only screen and (min-width: $gf-breakpoint-lg){
    width: $gf-breakpoint-lg - ($gf-outer-margin * 3);
  }

  @media only screen and (min-width: $gf-breakpoint-xl){
    width: $gf-breakpoint-xl - ($gf-outer-margin * 3);
  }
}

.#{ $gf-class-container-fluid } {
  margin-left: auto;
  margin-right: auto;
  padding-left: $gf-outer-margin;
  padding-right: $gf-outer-margin;
}

.#{ $gf-class-row } {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: $gf-gutter-compensation;
  margin-right: $gf-gutter-compensation;
}

%col {
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: $gf-gutter-width / 2;
  padding-right: $gf-gutter-width / 2;
}

@for $i from 1 through $gf-columns {
  .#{ $gf-class-column }-#{ $gf-name-xs }-#{ $i } {
    @extend %col;
  }
}

@for $i from 1 through $gf-columns {
  .#{ $gf-class-column }-#{ $gf-name-sm }-#{ $i } {
    @extend %col;
  }
}

@for $i from 1 through $gf-columns {
  .#{ $gf-class-column }-#{ $gf-name-md }-#{ $i } {
    @extend %col;
  }
}

@for $i from 1 through $gf-columns {
  .#{ $gf-class-column }-#{ $gf-name-lg }-#{ $i } {
    @extend %col;
  }
}

@for $i from 1 through $gf-columns {
  .#{ $gf-class-column }-#{ $gf-name-xl }-#{ $i } {
    @extend %col;
  }
}

// .#{ $gf-class-column }-#{ $gf-name-xs } {
//   @extend %col;
// }

// Mixins

@mixin col($selector) {
  /*******************
  Col-#{ $selector }
  *******************/

  @for $i from 1 through $gf-columns {
    .#{ $gf-class-column }-#{ $selector }-#{ $i } {
      flex-basis: (100% / $gf-columns) * $i;
      max-width: (100% / $gf-columns) * $i;
    }
  }
}

@mixin push($selector) {
  /*******************
  Push-#{ $selector }
  *******************/

  @for $i from 0 through $gf-columns {
    .#{ $gf-class-push }-#{ $selector }-#{ $i } {
      @if $i == 0 {
        left: auto;
      } @else {
        left: (100% / $gf-columns) * $i;
      }
    }
  }
}

@mixin pull($selector) {
  /*******************
  Pull-#{ $selector }
  *******************/

  @for $i from 0 through $gf-columns {
    .#{ $gf-class-pull }-#{ $selector }-#{ $i } {
      @if $i == 0 {
        right: auto;
      } @else {
        right: (100% / $gf-columns) * $i;
      }
    }
  }
}

@mixin offset($selector) {
  /*******************
  Offset-#{ $selector }
  *******************/

  @for $i from 1 through $gf-columns - 1 {
    .#{ $gf-class-offset }-#{ $selector }-#{ $i } {
      margin-left: (100% / $gf-columns) * $i;
    }
  }
}

// See it in action

@include col($gf-name-xs);
@include push($gf-name-xs);
@include pull($gf-name-xs);
@include offset($gf-name-xs);

@media only screen and (min-width: $gf-breakpoint-sm) {
  @include col($gf-name-sm);
  @include push($gf-name-sm);
  @include pull($gf-name-sm);
  @include offset($gf-name-sm);
}

@media only screen and (min-width: $gf-breakpoint-md) {
  @include col($gf-name-md);
  @include push($gf-name-md);
  @include pull($gf-name-md);
  @include offset($gf-name-md);
}

@media only screen and (min-width: $gf-breakpoint-lg) {
  @include col($gf-name-lg);
  @include push($gf-name-lg);
  @include pull($gf-name-lg);
  @include offset($gf-name-lg);
}

@media only screen and (min-width: $gf-breakpoint-xl) {
  @include col($gf-name-xl);
  @include push($gf-name-xl);
  @include pull($gf-name-xl);
  @include offset($gf-name-xl);
}
